
@import '../../../style/style.scss';
.footer{
    background-color: #AD7D30;
    height: 7rem;
    border-radius: 3px;
    margin-top: 12%; //** !not fixed
    // margin-bottom: -12rem;

    &__content {
        padding-top: 3rem;
    }
    &__text{
        color: $charcoal;
    }

    &__icon{
        
        &--facebook{
            &:hover,
            &:active {
                transform: scale(1.1);
              }
        }
        &--ins{
            &:hover,
            &:active {
                transform: scale(1.1);
              }
        }
        &--twitter{
            &:hover,
            &:active {
                transform: scale(1.1);
              }
        }

    }
}