.searchbar input {
    height: 45px;
    width: 200px;
}

.searchbar {
   display: flex;
   justify-content: flex-end;
   position:absolute;
   top:40px;
   right:10px;
}

Button {
    margin-top:3px !important;
}

.heading-secondary {
    margin-bottom: 20px;
    margin-top:45px;
    display: flex;
    justify-content: center;
}

.h1-container {
    display: flex;
    justify-content:center;
}