@import '../../../style/style.scss';

#title {
    justify-content:center !important;
    display:flex;
}

.card-button {
    background-color: red;
    min-width: 150px;
    justify-content:center
}

.card{
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
}