@import '../../../style/style.scss';

#title {
    justify-content:center !important;
    display:flex;
}

.card-button {
    background-color: red;
    min-width: 150px;
    justify-content:center
}

