@mixin clearfix {
    &::after{
        content:'';
        display: table;
        clear:both;
    }
};



@keyframes gradient_footer {
    0%{
        color: cadetblue;
    }
    100%{color: red;}
}