
.btn{
  
 
      display: flex;
      margin:2rem auto;
      background-color:$old-rose;
      font-size: 1.7rem;
      //text-transform: uppercase;
      padding: 0.5rem 1rem;
      border-radius: 2px;
      border: 0.1rem solid $charcoal;
      transition: all 0.5s;
    
    &:hover {
      background-color: $sea-green
    }

  }
  

