.btn{
    background-color: $chestnut;
    border: 0.1rem solid $charcoal;
    transition: all 0.9s ease-in-out;
    &:hover,
    &:focus{
        background-image:linear-gradient(to left bottom, $old-rose, lighten($dark-goldenrod,.2)) ;
        
    }    
}