body {
    padding: 3rem;
    font-family: "Baloo 2", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #777;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
padding: 5rem;}