@import '../../../style/style.scss';
.searchbar {
    display: flex;
    top:12rem;
    margin-left: 6rem;
    width:14rem;
    height: 3rem;
}


.heading-secondary {
    margin-bottom: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.h1-container {
    display: flex;
    justify-content: center;
}

.form-control {
    font-size: 1.8rem;
}


