@import '../../../style/style.scss';

.searchbar {
    position:relative;
    right:1rem;
    width:14rem;

    display: flex;
    top: -4rem;
    margin-left: 10rem;
    width: 14rem;

    height: 3rem;
    margin-bottom: 5rem;
    @include respond(big){
        top:-4rem;
        
     }
     @include respond(tab-land){
        top:-4rem;
     }
     @include respond(tab-port){
        top:0rem;
     }
     @include respond(phone){
        top:0rem;
     }
}


.heading-secondary {
    margin-bottom: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.h1-container {
    display: flex;
    justify-content: center;
}

.form-control {
    font-size: 1.8rem;
}


.container {
    display: flex;
    justify-content:center;
    margin-top: 20px
    
}

.col-md-3{
    width: auto;
}

#card {
    height: 380px;
    margin-top: 1px;
    
}

