@import '../../../style/style.scss';

.searchbar {
    position: relative;
    width: 14rem;
    top: -5rem;
    margin-left: calc(100vw - 30rem);
    height: 3rem;
    margin-bottom: 5rem;
    @include respond(big) {
        top: -5rem;
    }
    @include respond(tab-land) {
        top: -5rem;
    }
    @include respond(tab-port) {
        top: 0rem;
        margin-left: calc(100vw - 100vw/2 - 6rem);
    }
    @include respond(phone) {
        top: 0rem;
    }
}

.heading-secondary {
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.h1-container {
    display: flex;
    justify-content: center;
}

.form-control {
    font-size: 1.8rem;
}

.container {
    display: flex;
    justify-content: center;
}

.col-md-3 {
    width: auto;
}

#card {
    height: 340px;
    margin-top: -23px;
    margin-bottom:60px!important;
   
}
