$color-primary: #964B00;
$color-secondary: #C68E17;

//color palllets
$navy-blue: #000080ff;
$mustard: #ffdb58ff;
$sea-green: #2e8b57ff;
$raw-umber: #8d6a3dff;
$old-rose: #c08081ff;
$charcoal: #36454fff;
$chestnut: #954535ff;
$khaki-x-11-light-khaki: #f0e68cff;
$dark-goldenrod: rgb(237, 187, 77);


$color-white:#fff;
$color-black: #000;

$color-grey-light-1: #f4f4f4;


$grid-width:180rem;
$gutter-vertical:8rem;
$gutter-horizontal:8rem;

