.app-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    align-items:space-between;
    justify-content:space-between;
}

.card {
    width: 320px;
    height: 415px;
    border-radius: 15px;
    @extend .dFlex !optional;
    position: relative;
    transform: scale(.9);
    transition: all .3s ease-in-out;
    margin-bottom: 30px;
    margin-top: 50px;
}


.image {
    height: 180px;
    max-height: 200px;
    width: auto;
    max-width: 250px;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}

.heading-secondary {
    padding-top:25px
}
.message {
    padding-top: 100px;
}

.h2-text {
    padding-top:100px;
}