@import '../../../style/style.scss';
.text-content{
    margin-bottom:2rem;
    color: $charcoal;
}
.row{
    height: 97vh;
}
.first-col{
    font-size: larger;
    background-color: rgb(250, 215, 221);
    
}