@import '../../../../style/style.scss';

.row {
    display: flex;
    justify-content: space-around;
   

.col-lg-3{
    @include respond(tab-land){
        width: auto;
        display: flex;
        justify-content: center;
    }
}
}

#h1 {
    display: flex;
    justify-content: center;
}

.report-button {

    background-color: red;
    min-width: 150px;
    justify-content: center
}

.card-comp {
    margin-bottom:-15px !important;
}
