@import '../../../../style/style.scss';

.row {
    display: flex;
    justify-content: center;
}



#h1 {
    display: flex;
    justify-content: center;
}

.report-button {

    background-color: red;
    min-width: 150px;
    justify-content: center
}

.card
{ box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
:hover {
    transform: scale(.8);
    transition: all .3s ease-in-out;
    position: relative;
    background: transparent;
    border-style: solid; 
    border-width: 6px;
}
}