.row {
    display: flex;
    justify-content: center;
}

#card {
    width: 25PX;
}

#h1 {
    display: flex;
    justify-content: center;
}

.report-button {

    background-color: red;
    min-width: 150px;
    justify-content: center
}